body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
#error-message {
  display: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}
footer {
  background-color: #007bff;
  padding: 20px;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}
.landing-page {
  min-height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

/* form */
section#menu {
  position: relative;
}
#formContainer1, #formContainer2, #formContainer3 {
  position: absolute;
  width: 300px;
  z-index: 999;
  top: 40%;
  left: 7%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.d-none{
    display: none;
}